.w-33 {
    width: 33.33%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-150 {
    width: 150px;
}

.align-center {
    align-items: center;
}

#about-me {
    background: url(../img/about-me.svg) no-repeat right center;
    background-size: cover;
}

.pt-20 {
    padding-top: 20px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pink-circle {
    width: 20px;
    height: 20px;
    background: #FCCBD2;
    border-radius: 10px;
    display: inline-block;
    vertical-align: sub;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d-inline-block {
    display: inline-block;
}

.grey-circle {
    width: 20px;
    height: 20px;
    background: #F5EDE5;
    border-radius: 10px;
    display: inline-block;
    vertical-align: sub;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.justify-center {
    justify-content: center;
}

.right-border {
    border-right: 1px solid #FCCBD2;
}

.left-border {
    border-left: 1px solid #FCCBD2;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-0 {
    margin-top: 0;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.pink {
    color: #FCCBD2;
}

.font-15 {
    font-size: 1.5em;
}

.line-height-1 {
    line-height: 1;
}

.left-border .line-height-1::before {
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    background: pink;
    border-radius: 8px;
    position: absolute;
    left: -8px;
}

.right-border .line-height-1::before {
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    background: pink;
    border-radius: 8px;
    position: absolute;
    right: -8px;
}

.pink-bg {
    background: #FCCBD2;
}

.contact .pink-bg {
    padding: 10px 100px 60px;
}

.contact a:hover {
    color: white;
    transition: 0.5s;
}

.overflow-hidden {
    overflow: hidden;
}

#works a {
    display: flex;
    margin: 10px;
    overflow: hidden;
}

#works a:hover img {
    transform: scale(1.1);
    transition: 1s;
}

.flex-direction-col {
    flex-direction: column;
}

@media only screen and (max-width: 1024px) {
    .pb-100 {
        padding-bottom: 50px;
    }
    
    .pr-10p {
        padding-right: 5%;
    }
    .pl-10p {
        padding-left: 5%;
    }

    #about-me {
        background: #F5EDE5;
    }
}

@media only screen and (max-width: 767px) {
    .pt-100 {
        padding-top: 60px;
    }

    .w-50 {
        width: 100%;
    }

    #about-me .d-flex {
        display: block;
    }

    .w-40 {
        width: 90%;
    }

    .pl-60 {
        padding-left: 10%;
    }

    .w-50.pl-60 {
        width: 90%;
    }

    #my-skills {
        display: block;
        text-align: center;
    }

    #my-skills .pt-60 {
        padding-top: 30px;
    }

    #my-skills .pt-100 {
        padding-top: 0;
    }

    #my-skills .pl-5p {
        padding-left: 0;
    }

    #works a {
        margin: 5px;
    }
}

@media only screen and (max-width: 480px) {
    .showcase {
        display: block;
    }

    .w-33 {
        width: 100%;
    }

    .font-15 {
        font-size: 1em;
    }

    .contact .pink-bg {
        padding: 10px 15px 40px;
    }
}