html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: SVNGilroy;
    src: url(../fonts/SVN-Gilroy-Regular.otf);
}

@font-face {
    font-family: SVNGilroyBold;
    src: url(../fonts/SVN-Gilroy-Heavy.otf);
    font-weight: bold;
}

@font-face {
    font-family: Baskervville;
    src: url(../fonts/Baskervville-Regular.ttf);
}

body {
    font-family: SVNGilroy;
    color: #272727;
    font-size: 1.2em;
    line-height: 1.8;
    margin: 0;
}

a {
    text-decoration: none;
    color: #272727;
}

a:hover {
    color: #FCCBD2;
    transition: 0.5s;
}

b {
    font-family: SVNGilroyBold;
}

.d-flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

.w-100 {
    width: 100%;
}

.baskervville {
    font-family: Baskervville;
}

.justify-between {
    justify-content: space-between;
}

.p-30 {
    padding: 30px;
}

.p-60 {
    padding: 60px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-60 {
    padding-left: 60px;
}

.pl-10p {
    padding-left: 10%;
}

.pl-50p {
    padding-left: 50%;
}

.pl-5p {
    padding-left: 5%;
}

.pr-5p {
    padding-right: 5%;
}

.pr-10p {
    padding-right: 10%;
}

.vertical-writing {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

#banner .vertical-writing {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.font-3em {
    font-size: 3em;
    line-height: 1;
}

.m-0 {
    margin: 0;
}

.primary-btn {
    background: #272727;
    padding: 15px 30px;
    color: white;
}

.primary-btn:hover {
    background: #FCCBD2;
    color: white;
}

.circle {
    width: 10px;
    height: 10px;
    background: #272727;
    border-radius: 5px;
    margin: 20px 0;
    display: inline-block;
}

.nowrap {
    text-wrap: nowrap;
}

@media only screen and (max-width: 1024px) {
    #banner .vertical-writing {
        display: none;
    }

    .font-3em {
        font-size: 2em;
    }

    .p-30 {
        padding: 15px;
    }
}

@media only screen and (max-width: 767px) {
    #banner .d-flex {
        display: block;
    } 
}

@media only screen and (max-width: 480px) {
    nav div.p-30 {
        display: none;
    }
}